body {
    background-color: #ccc;
    margin: 0;
    overflow: hidden;
}
#ball {      
    width: 70px; 
    height: 40px;
    background-color: blue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}